@font-face {
    font-family: 'Glacial Indifference';
    font-style: normal;
    font-weight: normal;
    src: local('Glacial Indifference Regular'), url('../fonts/GlacialIndifference-Regular.woff') format('woff');
}
    
@font-face {
    font-family: 'Glacial Indifference';
    font-style: bold;
    font-weight: normal;
    src: local('Glacial Indifference Bold'), url('../fonts/GlacialIndifference-Bold.woff') format('woff');
}
*{box-sizing: border-box;}
html{
    scroll-behavior: smooth;
    font-size: 15px;
}
body{
    color: #000000;
    background-color: #ecc5c6;
    font-family: nunito, Verdana, sans-serif;
    margin: 0;
}

/* HEADER */

header{
    position: fixed;
    top: 0;
    background-color: #ecc5c6;
    transition: 0.5s ease;
    z-index: 1;
    width: 100%;
}
header.scrolled{
    background-color: #c799a5 ;
    box-shadow: 0px 0.3px 10px 0.6px #000000;
}

/* /HEADER */
/* NAV */

.navbar{
    margin: auto;
    width: 98%;
    max-width: 1800px;
}
#logo {
    height: 2.6rem;
    width: auto;
}
.nav-link{
    color: #000000;
    transition: all 0.8s ease;
    font-weight: 700;
    font-size: 1.2rem;
}
.nav-link:hover{color:#ffffff;}

/* /NAV */

h1,h2,h3{
    font-family: Glacial Indifference;
    font-weight: bold;
    text-transform: uppercase;
    color: #906777;
}
h2{font-size: 3rem;}
h3{font-size: 1.5rem;}
ul{
    list-style: none;
    padding: 0;
}
main{margin-top: 5rem;}
.jc-center{justify-content:center;}
.mar-auto{margin: auto;}
.aligit-center{align-items: center;}
.ta-wkcenter{text-align: -webkit-center;}

/* HOME */
/* BANNER */

.banner{text-align: center;}
.banner img{
    max-height: 850px;
    width: auto;
    border-radius: 3em;
    box-shadow: 0.066rem 0.02rem 0.4rem 0.066rem #906777;
    padding: 0;
}

/* /BANNER */
/* UPBUTTON*/

.upbutton{
    position: fixed;
    right: 2%;
    bottom: 2%;
    z-index: 1;
    visibility: hidden;
    opacity: 80%;
}
.upbutton.scrolled{
    visibility: visible;
    transition: all 2s;
}
.upbutton img{height: 3rem;}

/* /UPBUTTON */
/* PRESENTATION */

.presentation{
    text-align: center;
    margin: 5rem auto; 
}
.tvac-box{
    border-radius: 4rem;
    box-shadow: 1px 0.3px 6px 1px #906777;
}
.presentation video{
    max-height: 95vh;
    border-radius: 4em;
    box-shadow: 0.066rem 0.02rem 0.4rem 0.066rem #906777;
}
@media (orientation: landscape){
    .presentation video{width: fit-content;}
}
@media (min-width: 576px) , (max-width: 999px) and (orientation: landscape){
    .presentation video{border-radius: 2em; }
}
@media (min-width: 576px) and (max-width: 999px){
    .presentation video{border-radius: 3.5em;}
}
@media (min-width: 1000px) and (orientation: landscape){
    .presentation video{border-radius: 4em;}
}

/* /PRESENTATION */
/* VALUES */

.values{
    text-align: center;
    margin: 5rem auto;
    max-width: 1200px;
}
.outside{
    background-color: #906777;
    border-radius: 100%;
    height: 4rem;
    width: 4rem;
    padding-top: 0.5rem;
    margin: 0.5rem 0;
}
.inside{
    background-color: #ecc5c6;
    border-radius: 100%;
    height: 3rem;
    width: 3rem;
    margin: auto;
}
.number{
    font-family: Glacial Indifference;
    font-weight: bold;
    color: #906777;
    font-size: 2rem;
}
.fontcolors {
    color: #ffffff;
    text-shadow: 0.066rem  0.066rem  0.066rem  #000000; 
}
@media (min-width: 1200px){
    .outside{
        height: 6rem;
        width: 6rem;
        padding-top: 0.75rem;
    }
    .inside{
        height: 4.5rem;
        width: 4.5rem;
    }
    .number{font-size: 3rem;}
    .values h3{font-size: 2rem;}
}

/* /VALUES */
/* LISTS */

.list{
    text-align: center;
    margin: 3rem auto; 
}
.list ul{
    margin: 3rem 2rem;
}
.list li{
    font-size: 1.5rem;
}
.list div div img{max-height: 90vh;}
@media (min-width: 1200px){
    .list h2{font-size: 4.5rem;}
    .list h3{font-size: 2.25rem;}
    .list li{font-size: 2.25rem;}
}

/* /LISTS */
/* /HOME */
/* CHOOSE */

#choose{
    background-color: #000000;
    text-align: center;
}
#choose header{
    background-color: #000000;
}
#choose .nav-link{color: #ffffff;}
#choose .nav-link:hover{color:#ecc5c6;}
#choose h1{
    color: #ecc5c6;
    font-size: 2rem;
}
.ambassador_box{margin-top: 0.5rem;}
.ambassador_box img{
    padding: 0.3rem;
    background-color: #906777; 
    border-radius: 15rem;
    height: auto;
    transition: all 0.5s;
}
.ambassador_box h2{
    margin-top: 1rem;
    font-size: 1rem;
    transition: all 0.5s ease-in;
}
.ambassador_box:hover img{
    padding: 0.4rem;
    background-color: #ecc5c6;
}
.ambassador_box:hover h2{ 
    color: #ecc5c6;
}
@media (orientation:portrait) , (min-width: 768px) and (max-width: 991px) {
    .ambassador_box{margin: 2rem 0;}
    #choose h1{margin: 3rem 0;}
}
@media (min-width: 1200px) {
    #choose h1{
        margin: 7rem 0;
        font-size: 4rem;
    }
    .ambassador_box{margin: 3rem 0;}
}

/* /CHOOSE */
/* FORM */

form{
    background-color: #c799a5;
    margin: auto;
    padding: 2em 0em;
    border-radius: 3em;
    box-shadow: 1px 0.3px 6px 1px #906777;
    text-align: center;
}
.tvac-form,
.tvac-select,
.tvac-check{
    font-size: 1.2rem;
    font-weight: bold;
    color: #000000;
    text-align: right;
}
.tvac-form label{margin: 0;}
@media (max-width: 575px) {
    .tvac-form label{text-align: left !important;}
}
.tvac-form input{
    background-color: #906777;
    font-family: nunito;
    color: #ffffff;
}
.tvac-form input:focus{
    background-color: #906777;
    color: #ffffff;
}
.tvac-form input::placeholder{
    font-family: nunito;
    font-size: 1.2rem;
    color: #ffffff;
    opacity: 80%;
}
input:-webkit-autofill, 
input:-webkit-autofill:hover,
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    box-shadow: 0 0 0 30px #906777 inset !important; 
}
input:-webkit-autofill {-webkit-text-fill-color: white !important;}
.tvac-select select{
    background-color: #906777;
    font-family: nunito;
    color: #ffffff;
    font-size: 1.2rem;
    border-radius: 2%;
}
.tvac-check legend{
    text-align: center;
    font-size: 1.2rem;
}
button{
    background-color: #906777;
    color: #ffffff;
    font-family: nunito;
    font-size: 1.2rem;
    padding: 0.5rem;
}
.invalid-feedback{
    color: #906777;
    font-family: nunito;
    font-size: 1.2rem;
    text-align: center;
}

/* /FORM */

